<div>
  <ul class="header">
    <li>Welcome</li>
    <li>Portfolio</li>
    <li>Blog</li>
    <li>About</li>
    <li> Contact </li>
    <li>Dharma Naidu</li>
  </ul>
</div>
<div class="opening">
  <p class="FirstText"> My First Real Rails Project</p>
</div>
<div>
  <ul class = "footer">
    <a href="https://www.facebook.com/dharma.naidu.71"><li id="facebook"></li></a>
    <a href="https://plus.google.com/u/0/116438354873868166985"><li id="google"></li></a>
  </ul>
</div>
